# Imports

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab
from sklearn import preprocessing
%matplotlib inline

# Read the data

In [46]:
df = pd.read_csv("teleCust1000t.csv")
df.head()
# df.value_counts('custcat')

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3

# Preprocess the data

In [58]:
X = df[['region', 'tenure', 'age', 'marital', 'address', 'income', 'ed', 'employ', 'retire', 'gender', 'reside',]]
Y = df['custcat']

scaler = preprocessing.StandardScaler().fit(X)
X_NORM = scaler.transform(X.astype(float))
X_NORM[0:5]

array([[-0.02696767, -1.055125  ,  0.18450456,  1.0100505 , -0.25303431,
        -0.12650641,  1.0877526 , -0.5941226 , -0.22207644, -1.03459817,
        -0.23065004],
       [ 1.19883553, -1.14880563, -0.69181243,  1.0100505 , -0.4514148 ,
         0.54644972,  1.9062271 , -0.5941226 , -0.22207644, -1.03459817,
         2.55666158],
       [ 1.19883553,  1.52109247,  0.82182601,  1.0100505 ,  1.23481934,
         0.35951747, -1.36767088,  1.78752803, -0.22207644,  0.96655883,
        -0.23065004],
       [-0.02696767, -0.11831864, -0.69181243, -0.9900495 ,  0.04453642,
        -0.41625141, -0.54919639, -1.09029981, -0.22207644,  0.96655883,
        -0.92747794],
       [-0.02696767, -0.58672182, -0.93080797,  1.0100505 , -0.25303431,
        -0.44429125, -1.36767088, -0.89182893, -0.22207644, -1.03459817,
         1.16300577]])

# Test - Train

In [59]:
from sklearn.model_selection import train_test_split

x_train , x_test, y_train, y_test = train_test_split(X_NORM, Y, test_size=0.2, random_state=4)

# Classification

### Training

In [60]:
k = 6
neigh = KNeighborsClassifier(n_neighbors=k).fit(x_train, y_train)
y_ = neigh.predict(x_test)
print(y_[0:5])

[3 3 3 4 4]

### Testing

In [61]:
from sklearn import metrics
print('train_accuracy: ', metrics.accuracy_score(y_train, neigh.predict(x_train)))
print('test_accuracy: ', metrics.accuracy_score(y_test, neigh.predict(x_test)))

train_accuracy:  0.51625
test_accuracy:  0.31

### Different Ks

In [62]:
Ks = 15
mean_acc_matrix = np.zeros(Ks-1)
std_acc_matrix = np.zeros(Ks-1)

for n in range(1, Ks):
    neigh = KNeighborsClassifier(n_neighbors=n).fit(x_train, y_train)
    y_ = neigh.predict(x_test)
    mean_acc_matrix[n-1] = metrics.accuracy_score(y_test, y_)
    std_acc_matrix[n-1] = (np.std(y_==y_test))/(np.sqrt(y_.shape[0]))

mean_acc_matrix

array([0.3  , 0.29 , 0.315, 0.32 , 0.315, 0.31 , 0.335, 0.325, 0.34 ,
       0.33 , 0.315, 0.34 , 0.33 , 0.315])

# Classification & Evaluation

In [63]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics


Ks = 15
mean_accuracy_matrix = np.zeros(Ks-1)
std_accuracy_matrix = np.zeros(Ks-1)

for n in range(1, Ks):
    neigh = KNeighborsClassifier(n_neighbors=n).fit(x_train, y_train)
    y_ = neigh.predict(x_test)
    mean_accuracy_matrix[n-1] = metrics.accuracy_score(y_test, y_)
    std_accuracy_matrix[n-1] = (np.std(y_==y_test))/(np.sqrt(y_.shape[0]))

mean_accuracy_matrix

array([0.3  , 0.29 , 0.315, 0.32 , 0.315, 0.31 , 0.335, 0.325, 0.34 ,
       0.33 , 0.315, 0.34 , 0.33 , 0.315])