# Imports

In [43]:
import pandas as pd
import pylab as pl
import numpy as np
from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

# The Dataset

### Read

In [3]:
hrt_df = pd.read_csv("hearth.csv")
hrt_df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### Select X , Y

In [25]:
hrt_df_x = hrt_df[['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh', 'exng', 'oldpeak', 'slp', 'caa', 'thall']]
hrt_df_y = hrt_df['output']

hrt_df_x[0:5]
#hrt_df_y[0:5]

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

# KNN

In [48]:
x_knn = hrt_df_x
y_knn = hrt_df_y

### Normalize

In [49]:
scaler = preprocessing.StandardScaler().fit(x_knn)
x_knn_norm = scaler.transform(x_knn.astype(float))
x_knn_norm[0:5]

array([[ 0.9521966 ,  0.68100522,  1.97312292,  0.76395577, -0.25633371,
         2.394438  , -1.00583187,  0.01544279, -0.69663055,  1.08733806,
        -2.27457861, -0.71442887, -2.14887271],
       [-1.91531289,  0.68100522,  1.00257707, -0.09273778,  0.07219949,
        -0.41763453,  0.89896224,  1.63347147, -0.69663055,  2.12257273,
        -2.27457861, -0.71442887, -0.51292188],
       [-1.47415758, -1.46841752,  0.03203122, -0.09273778, -0.81677269,
        -0.41763453, -1.00583187,  0.97751389, -0.69663055,  0.31091206,
         0.97635214, -0.71442887, -0.51292188],
       [ 0.18017482,  0.68100522,  0.03203122, -0.66386682, -0.19835726,
        -0.41763453,  0.89896224,  1.23989692, -0.69663055, -0.20670527,
         0.97635214, -0.71442887, -0.51292188],
       [ 0.29046364, -1.46841752, -0.93851463, -0.66386682,  2.08204965,
        -0.41763453,  0.89896224,  0.58393935,  1.43548113, -0.37924438,
         0.97635214, -0.71442887, -0.51292188]])

### Test/Train Separation

In [50]:
x_knn_train, x_knn_test, y_knn_train, y_knn_test = train_test_split(x_knn_norm, y_knn, test_size=0.2, random_state=4)
print ('KNN Train Set:', x_knn_train.shape,  y_knn_train.shape)
print ('KNN Test Set:', x_knn_test.shape,  y_knn_test.shape)

KNN Train Set: (242, 13) (242,)
KNN Test Set: (61, 13) (61,)

### Classification

In [55]:
from sklearn.neighbors import KNeighborsClassifier

Ks = 15
mean_acc_matrix = np.zeros(Ks-1)
std_acc_matrix = np.zeros(Ks-1)

for n in range(1, Ks):
    kn_neigh = KNeighborsClassifier(n_neighbors=5, weights='uniform', algorithm='auto', p=2).fit(x_knn_train, y_knn_train)
    y_hat_kn = kn_neigh.predict(x_knn_test)
    mean_acc_matrix[n-1] = metrics.accuracy_score(y_hat_kn, y_knn_test)
    std_acc_matrix[n-1] = (np.std(y_hat_kn==y_knn_test))/(np.sqrt(y_hat_kn.shape[0]))

mean_acc_matrix

array([0.80327869, 0.80327869, 0.80327869, 0.80327869, 0.80327869,
       0.80327869, 0.80327869, 0.80327869, 0.80327869, 0.80327869,
       0.80327869, 0.80327869, 0.80327869, 0.80327869])